.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
  color: white;
}

.searchBar {
  width: 40%;
  padding: 5px;
  margin-right: 10px;
}

.genreDropdown {
  padding: 5px;
}

.songList {
  margin-top: 20px;
}

.songItem {
  margin-bottom: 15px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
